@model IEnumerable<Negosud.Class.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1 class="gold pb-5">Liste de nos articles</h1>


<table class="tableliste table" id="montableau">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prix Unitaire
            </th>
            <th>
                Type
            </th>
            <th>
                Domaine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProduit)
            </td>
            <td>
                    @item.PrixProduit.ToString("N2") €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.NomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domaine.NomDomaine)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="retirsoulign">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#montableau').DataTable({
                "language": {
                    "emptyTable": "Aucune donnée disponible dans le tableau",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                    "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                    "infoFiltered": "(filtré à partir de _MAX_ entrées totales)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "loadingRecords": "Chargement...",
                    "processing": "Traitement...",
                    "search": "Rechercher :",
                    "zeroRecords": "Il n'y a pas de correspondance",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    },
                    "aria": {
                        "sortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
}