@model IEnumerable<Negosud.Class.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1 class="gold">Liste de nos articles</h1>

<p>Barre de recherche a faire</p>

<table class="tableliste table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProduit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixProduit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domaine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixProduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.NomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domaine.AdresseDomaine)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="retirsoulign">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
