@model IEnumerable<Negosud.Class.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostalClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaysClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailClient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostalClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaysClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailClient)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
